/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
}
/* INICIO CODIGO GENERAL */

.contenedor{
    width: 90%;
    margin: auto;
}
.elementos{
    display: flex;
    flex-direction: row;
}
/* IFIN CODIGO GENERAL */

/* INICIO MENU HEADER */

.menu_fondo{
    background-color: #02EBB4;
}
.header .logo{
    line-height: 120px;
    color: white;
    font-size: 35px;
}
.header .elementos{
    position: relative;
}
.header .menu{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
}
.header .menu li{
    line-height: 120px;
    margin-left: 40px;
    cursor: pointer;
    display: inline-block;
}

/* FIN MENU HEADER */